<!DOCTYPE html>
<html>
  <head>
    <title>ToDo List</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>ToDo List</h1>
    <button
      id="showOnlyTodo"
      onclick="addParam(`?onlyToDo=true`)"
      class="filter-button <%= onlyToDo === 'true' ? 'focused' : '' %>"
    >
      Show only To-do
    </button>
    <a
      href="/"
      class="filter-button <%= onlyToDo === 'true' ? '' : 'focused' %>"
    >
      Show all tasks
    </a>

    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>Limit Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if (!tasks || tasks.length == 0) { %>
        <tr>
          <td colspan="4">There's any tasks included!</td>
        </tr>
        <% } else { %> <% tasks.forEach((task) => { %>
        <tr class="<%= task.status === false ? 'completed' : '' %>">
          <td class="taskName">
            <a href="/taskView/<%= task.id %>"><%= task.name %></a>
          </td>
          <td class="<%= task.date < today ? 'late' : '' %>">
            <%= format(task.date, 'dd/MM/yyyy') %>
          </td>
          <td><%= task.status === true ? 'To do' : 'Completed' %></td>
          <td class="actionsSec">
            <abbr title="Edit task">
              <% if (task.status === true) { %>
              <a href="/taskEdit/<%= task.id %>" class="noLine">
                <img src="/images/edit.png" alt="Edit" class="actions update" />
              </a>
              <% } else { %>
              <img
                src="/images/edit_X.png"
                alt="Edit"
                class="actions inactive"
              />
              <% } %>
            </abbr>
            <abbr title="Delete task">
              <a
                href="/delete/<%= task.id %>"
                class="noLine"
                onclick="return confirm('Deseja realmente excluir a Tarefa?')"
              >
                <img
                  src="/images/trash.png"
                  alt="Delete"
                  class="actions delete"
                />
              </a>
            </abbr>
            <% if (task.status === true) { %>
            <abbr title="Finish task">
              <a
                href="/taskComplete/<%= task.id %>"
                class="noLine"
                onclick="return confirm('Deseja finalizar a tarefa?')"
              >
                <img
                  src="/images/check.png"
                  alt="Finish"
                  class="actions finish"
                />
              </a>
            </abbr>
            <% }else { %>
            <abbr title="Unfinalize task">
              <a
                href="/taskUndo/<%= task.id %>"
                class="noLine"
                onclick="return confirm('Deseja desfazer a conclusão da tarefa?')"
              >
                <img src="/images/undo.png" alt="Undo" class="actions undo" />
              </a>
            </abbr>
            <% }%>
          </td>
        </tr>
        <% }) %> <% } %>
      </tbody>
    </table>
    <a href="/taskInsert" class="addTask">Add Task</a>
  </body>
  <script>
    var urlBase = "<%= urlParams %>";
  </script>
  <script src="/javascripts/script.js"></script>
</html>
