<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="<%= action %>" method="POST">
      <a href="/" class="back-button"> < Back</a>
      <div class="form-group">
        <label for="name">Name:</label>
        <input
          type="text"
          name="name"
          id="name"
          value="<%= task ? task.name : '' %>"
          required
        />
        <div class="form-group">
          <label for="date">Limit Date:</label>
          <input
            type="date"
            name="date"
            id="date"
            value="<%= task ? format(task.date, 'yyyy-MM-dd') : '' %>"
            required
          />
        </div>
        <label for="description">Description:</label>
        <textarea 
          type="text"
          name="description"
          id="description"
          required
          placeholder="Descrição..."
          maxlength="200"
        ><%= task ? task.description : '' %></textarea>
      </div>
      <button type="submit"><%= btnName %></button>
    </form>
  </body>
</html>